extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" , class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi. Purus semper eget duis at tellus. Risus nullam eget felis eget nunc. Nisl nisi scelerisque eu ultrices vitae. Malesuada fames ac turpis egestas. Metus dictum at tempor commodo ullamcorper a. Eget velit aliquet sagittis id consectetur. Quis risus sed vulputate odio ut. Sed tempus urna et pharetra pharetra. Elementum curabitur vitae nunc sed velit dignissim sodales ut.

                p Dui sapien eget mi proin sed. Ultricies mi eget mauris pharetra et ultrices neque. Nec nam aliquam sem et tortor consequat id porta nibh. Amet nisl purus in mollis. Posuere lorem ipsum dolor sit. Enim nec dui nunc mattis enim ut tellus elementum. Ut porttitor leo a diam sollicitudin tempor id. In iaculis nunc sed augue lacus viverra. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Sed nisi lacus sed viverra tellus in hac habitasse platea. 

                p Leo urna molestie at elementum. Mi quis hendrerit dolor magna eget. Velit euismod in pellentesque massa. Consectetur adipiscing elit pellentesque habitant morbi. Etiam non quam lacus suspendisse faucibus. Commodo quis imperdiet massa tincidunt nunc pulvinar. Neque aliquam vestibulum morbi blandit cursus risus at. Integer eget aliquet nibh praesent tristique magna. Consectetur adipiscing elit ut aliquam. Amet nisl suscipit adipiscing bibendum est. Viverra nibh cras pulvinar mattis. Gravida dictum fusce ut placerat orci. Eget magna fermentum iaculis eu non diam phasellus.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg" ,alt="Icono seguridad" , class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi. Purus semper eget duis at tellus. Risus nullam eget felis eget nunc. Nisl nisi scelerisque eu ultrices vitae. Malesuada fames ac turpis egestas. Metus dictum at tempor commodo ullamcorper a. Eget velit aliquet sagittis id consectetur. Quis risus sed vulputate odio ut. Sed tempus urna et pharetra pharetra. Elementum curabitur vitae nunc sed velit dignissim sodales ut.

                .col-md-4 
                    img(src="img/icono_destinos.svg" ,alt="Icono destino" , class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi. Purus semper eget duis at tellus. Risus nullam eget felis eget nunc. Nisl nisi scelerisque eu ultrices vitae. Malesuada fames ac turpis egestas. Metus dictum at tempor commodo ullamcorper a. Eget velit aliquet sagittis id consectetur. Quis risus sed vulputate odio ut. Sed tempus urna et pharetra pharetra. Elementum curabitur vitae nunc sed velit dignissim sodales ut.


                .col-md-4 
                    img(src="img/icono_precios.svg" ,alt="Icono precios" , class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi. Purus semper eget duis at tellus. Risus nullam eget felis eget nunc. Nisl nisi scelerisque eu ultrices vitae. Malesuada fames ac turpis egestas. Metus dictum at tempor commodo ullamcorper a. Eget velit aliquet sagittis id consectetur. Quis risus sed vulputate odio ut. Sed tempus urna et pharetra pharetra. Elementum curabitur vitae nunc sed velit dignissim sodales ut.